<ion-content mode="ios">

  <ion-list class="ion-padding-bottom">
    <ion-card color="tertiary" class="ion-text-center ion-padding">
      <ion-avatar color="tertiary" class="avatar-l center ion-margin-top ion-margin-bottom">
        <img src="assets/imgs/defaultshop.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Devter</b></h2>
      </ion-label>
      <ion-label color="medium">08/06/22 (17.34 น)</ion-label>
    </ion-card>
  </ion-list>

  <ion-card color="tertiary">
    <ion-item color="tertiary" lines="none">
      <ion-label><b>ขออนุญาตเปิดบริษัท</b></ion-label>
      <a routerLink="/dev2deli">อ่านเพิ่มเติม</a>
    </ion-item>
    <ion-card-content class="ion-padding-top">
      Devter จะสร้างร้าน DD Delivery โปรดอ่าน และยินยอม ข้อตกลงในการทำสัญญา เพื่อใช้งานระบบ
    </ion-card-content>
  </ion-card>

  <ion-list lines="none" class="ion-margin-top">
    <ion-item color="tertiary">
      <ion-label><b>สร้างร้านค้า</b></ion-label>
    </ion-item>
    <ion-card color="tertiary" class="ion-text-center ion-padding">
      <ion-card-content>

        <ion-avatar color="tertiary" class="avatar-l center ion-margin-top ion-margin-bottom">
          <img src="assets/imgs/defaultshop.png" />
        </ion-avatar>
        <ion-label>
          <h2><b>DD Delivery</b></h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list lines="none" class="ion-margin-top">
    <ion-item color="tertiary">
      <ion-label><b>ทำระบบ Escrow ที่มีส่วนแบ่ง</b></ion-label>
    </ion-item>

    <ion-item color="tertiary">
      <ion-icon name="home-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Software</ion-label>
      <ion-label class="ion-text-end"><b>10%</b></ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-icon name="person-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Rider</ion-label>
      <ion-label class="ion-text-end"><b>50 <small>THB</small> + ค่าส่ง</b></ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-icon name="bus-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Delivery</ion-label>
      <ion-label class="ion-text-end"><b>ที่เหลือทั้งหมด</b></ion-label>
    </ion-item>

  </ion-list>

  <form [formGroup]="fg">

    <ion-list lines="none" class="ion-margin-top">

      <ion-item color="tertiary">
        <ion-label><b>การขอข้อมูล</b></ion-label>
      </ion-item>

      <ion-item color="tertiary" button (click)="onFillData('a')">
        <p>
          <ion-icon *ngIf="!isInvalid('a')" [name]="displayIcon('a')" color="primary"></ion-icon>
          <ion-icon *ngIf="isInvalid('a')" name="alert-circle-outline" color="danger"></ion-icon>
          <span>&nbsp;</span>ที่อยู่บริษัท
          <ion-text color="danger">*</ion-text>
          <!-- <ion-text color="medium" *ngIf="!hasData('a')">
            <p class="ion-no-margin ion-margin-top">คุณยังไม่ระบุที่อยู่บริษัท</p>
          </ion-text> -->
          <ion-text color="medium" *ngIf="hasData('a')">
            <p class="ion-no-margin ion-margin-top">44 Vibhavadi Rangsit Road, แขวง ดินแดง เขตดินแดง กรุงเทพมหานคร 10400
            </p>
          </ion-text>
        </p>
      </ion-item>

      <ion-item color="tertiary" button (click)="onFillData('b')">
        <p>
          <ion-icon *ngIf="!isInvalid('b')" [name]="displayIcon('b')" color="primary"></ion-icon>
          <ion-icon *ngIf="isInvalid('b')" name="alert-circle-outline" color="danger"></ion-icon>
          <span>&nbsp;</span>เบอร์โทรบริษัท
          <ion-text color="danger">*</ion-text>
          <!-- <ion-text color="medium" *ngIf="!hasData('b')">
            <p class="ion-no-margin ion-margin-top">คุณยังไม่ระบุเบอร์โทรบริษัท</p>
          </ion-text> -->
          <ion-text color="medium" *ngIf="hasData('b')">
            <p class="ion-no-margin ion-margin-top">0801234567</p>
          </ion-text>
        </p>
      </ion-item>

      <ion-item color="tertiary" button (click)="onFillData('c')">
        <p>
          <ion-icon *ngIf="!isInvalid('c')" [name]="displayIcon('c')" color="primary"></ion-icon>
          <ion-icon *ngIf="isInvalid('c')" name="alert-circle-outline" color="danger"></ion-icon>
          <span>&nbsp;</span>จุดศูนย์กลางในการให้บริการ
          <ion-text color="danger">*</ion-text>
          <!-- <ion-text color="medium" *ngIf="!hasData('c')">
            <p class="ion-no-margin ion-margin-top">คุณยังไม่ระบุจุดศูนย์กลางในการให้บริการ</p>
          </ion-text> -->
          <ion-text color="medium" *ngIf="hasData('c')">
            <p class="ion-no-margin ion-margin-top">ถนน ราชดำเนินกลาง แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพมหานคร 10200
            </p>
          </ion-text>
        </p>
      </ion-item>

      <ion-item color="tertiary" button (click)="onFillData('d')">
        <p>
          <ion-icon *ngIf="!isInvalid('d')" [name]="displayIcon('d')" color="primary"></ion-icon>
          <ion-icon *ngIf="isInvalid('d')" name="alert-circle-outline" color="danger"></ion-icon>
          <span>&nbsp;</span>รัศมีการให้บริการ
          <ion-text color="danger">*</ion-text>
          <!-- <ion-text color="medium" *ngIf="!hasData('d')">
            <p class="ion-no-margin ion-margin-top">คุณยังไม่ระบุรัศมีการให้บริการ</p>
          </ion-text> -->
          <ion-text color="medium" *ngIf="hasData('d')">
            <p class="ion-no-margin ion-margin-top">10 (กิโลเมตร)</p>
          </ion-text>
        </p>
      </ion-item>
      
      <ion-item color="tertiary" class="ion-text-center" lines="none">
        <ion-label [color]="formCompleteCount() > 0? 'primary': 'dark'" style="font-weight: normal;">{{ displayFormProgress() }}</ion-label>
      </ion-item>

    </ion-list>

    <ion-list lines="none" class="ion-margin-top">
      <ion-item color="tertiary">
        <p>
          <b>ขออนุญาตเข้าถึงข้อมูลส่วนตัว</b>
          <ion-text color="danger" *ngIf="isInvalid('isSentKYC')">
            ข้อมูลไม่ถูกต้อง
          </ion-text>
        </p>
      </ion-item>

      <ion-item color="tertiary">
        <ion-checkbox slot="start" formControlName="isSentKYC"></ion-checkbox>
        <p>ขออนุญาตเข้าถึงข้อมูล KYC</p>
      </ion-item>
    </ion-list>

    <ion-card>
      <ion-card-content>
        <div class="ion-no-margin">
          <ion-card color="tertiary" class="ion-no-padding border-radius">
            <ion-list class="ion-margin-bottom" lines="none">
              <ion-list-header mode="md" color="tertiary">
                <ion-label>
                  <h3>
                    ยอมรับข้อตกลง
                    <ion-text color="danger" *ngIf="isInvalid('isApprove')">
                      คุณยังไม่เลือกข้อตกลง
                    </ion-text>
                  </h3>
                </ion-label>
              </ion-list-header>
              <ion-radio-group formControlName="isApprove" mode="md">
                <ion-item color="tertiary">
                  <ion-label>
                    <h3><b>อนุญาต</b></h3>
                  </ion-label>
                  <ion-radio slot="start" value="true"></ion-radio>
                </ion-item>
                <ion-item color="tertiary">
                  <ion-label>
                    <h3><b>ปฏิเสธ</b></h3>
                  </ion-label>
                  <ion-radio slot="start" value="false"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card>
        </div>
      </ion-card-content>
    </ion-card>
  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit" (click)="onSave()">ยืนยัน</ion-button>
</ion-footer>