<ion-content mode="ios">

  <form [formGroup]="fg">
    <ion-list lines="none" class="ion-margin-bottom">

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i1')" [color]="displayColor('i1')"></ion-icon>
          <b>&nbsp;คำนำหน้าชื่อ&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-select class="ion-no-padding ion-padding-end ion-select-full" okText="ตกลง" cancelText="ยกเลิก"
          interface="action-sheet" placeholder="กรุณาระบุคำนำหน้าชื่อ" formControlName="i1">
          <ion-select-option value="mr">นาย</ion-select-option>
          <ion-select-option value="mrs">นาง</ion-select-option>
          <ion-select-option value="miss">นางสาว</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i2')" [color]="displayColor('i2')"></ion-icon>
          <b>&nbsp;ชื่อ&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-input type="text" placeholder="ตัวอย่าง. อานนท์" formControlName="i2"></ion-input>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i3')" [color]="displayColor('i3')"></ion-icon>
          <b>&nbsp;นามสกุล&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-input type="text" placeholder="ตัวอย่าง. บางสาน" formControlName="i3"></ion-input>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i4')" [color]="displayColor('i4')"></ion-icon>
          <b>&nbsp;วัน/เดือน/ปีเกิด&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-input type="text" placeholder="01/ม.ค.2534" formControlName="i4"></ion-input>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i5')" [color]="displayColor('i5')"></ion-icon>
          <b>&nbsp;เลขบัตร ปชช.&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-input type="text" placeholder="1349900000000" formControlName="i5"></ion-input>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i6')" [color]="displayColor('i6')"></ion-icon>
          <b>&nbsp;เลขหลังบัตร ปชช.&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-input type="text" placeholder="AB1234567890" formControlName="i6"></ion-input>
      </ion-item>

      <ion-item color="tertiary" lines="full" button routerLink="/form-input-address-by-idcard">
        <ion-label>
          <ion-icon [name]="displayIcon('i7')" [color]="displayColor('i7')"></ion-icon>
          <b>&nbsp;ที่อยู่ตามบัตรประชาชน&nbsp;</b>
          <ion-text color="danger">*</ion-text>
          <ion-text color="medium" *ngIf="hasData('i7')">
            <ion-label class="ion-padding-top input">{{ getData('i7') }}</ion-label>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="full" button routerLink="/form-input-address-by-current">
        <ion-label>
          <ion-icon [name]="displayIcon('i8')" [color]="displayColor('i8')"></ion-icon>
          <b>&nbsp;ที่อยู่ปัจจุบัน&nbsp;</b>
          <ion-text color="danger">*</ion-text>
          <ion-text color="medium" *ngIf="hasData('i8')">
            <ion-label class="ion-padding-top input">{{ getData('i8') }}</ion-label>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <ion-icon [name]="displayIcon('i9')" [color]="displayColor('i9')"></ion-icon>
          <b>&nbsp;อาชีพ&nbsp;</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-select class="ion-no-padding ion-padding-end ion-select-full" okText="ตกลง" cancelText="ยกเลิก"
          interface="action-sheet" placeholder="กรุณาระบุอาชีพ" formControlName="i9">
          <ion-select-option value="a">รับราชการ</ion-select-option>
          <ion-select-option value="b">รับจ้างทั่วไป</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="tertiary" lines="full" button routerLink="/form-input-tel">
        <ion-label>
          <ion-icon [name]="displayIcon('i10')" [color]="displayColor('i10')"></ion-icon>
          <b>&nbsp;เบอร์โทรศัพท์&nbsp;</b>
          <ion-text color="danger">*</ion-text>
          <ion-text color="medium" *ngIf="hasData('i10')">
            <ion-label class="ion-padding-top input">{{ getData('i10') }}</ion-label>
          </ion-text>
        </ion-label>
      </ion-item>

    </ion-list>
  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit" (click)="onSave()">ยืนยัน</ion-button>
</ion-footer>