<ion-content mode="ios">

  <ion-list lines="none">
    <form [formGroup]="fg">

      <ion-card color="tertiary">
        <ion-card-content class="ion-text-center">
          <h1><b>083224XXXX</b></h1>
        </ion-card-content>
      </ion-card>

      <ng-container>
        <ion-item color="tertiary">
          <p class="ion-no-margin">
            <ion-icon [name]="displayIcon('i1')" [color]="displayColor('i1')"></ion-icon>
            <b>&nbsp;เบอร์โทรศัพท์ที่ผูกกับบัญชี mana&nbsp;</b>
            <ion-text color="danger">*</ion-text>
          </p>
        </ion-item>
        <ion-item color="tertiary" lines="full">
          <ion-input type="number" placeholder="กรุณาใส่เบอร์โทรศัพท์ให้ถูกต้อง" formControlName="i1"></ion-input>
        </ion-item>
      </ng-container>

    </form>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit" (click)="onSave()">ยืนยัน</ion-button>
</ion-footer>